* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #8794ba;
    background: #f8f9ff;
}

img {
    display: block;
    max-width: 100%;
}

.center {
    padding-left: calc(50% - 590px);
    padding-right: calc(50% - 590px);
}

.text {
    line-height: 1.5;
}

.header-content {
    padding-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header-left-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 95px;
}

.header-navigation {
    display: flex;
    gap: 36px;
}

.header-navigation a {
    color: #8794ba;
}

.header-navigation a:hover {
    color: #ef2a82;
}

.gamburger-menu {
    display: none;
}

.sign {
    display: flex;
    gap: 40px;
}

.sign__in-btn {
    display: inline-block;
    transition: transform 0.3s ease-in;
}

.sign__in-btn:hover {
    color: #ef2a82;

}

.sign__up-btn {
    display: inline-block;
    height: 40px;
    padding-left: 53px;
    padding-right: 53px;
    border: 1px solid #465b95;
    border-radius: 68px;
    line-height: 40px;
    transition: background 0.3s ease-in, color 0.3s ease-in, border 0.3s ease-in;
}

.sign__up-btn:hover {
    background: #ef2a82;
    color: #172755;
    border: 1px solid #ef2a82;
}

.main-background-img {
    background-image: url('./img/background-top.png');
    background-repeat: no-repeat;
    max-height: 815px;
    background-position: bottom;
    padding-bottom: 96px;
}

.main__top-block__img-block-mobile {
    display: none;
}

.main__top-block__img-mobile {
    display: none;
}

.main__top-block {
    padding-top: 50px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    padding-left: calc((100% - 1210px) / 2 + 15px);
    overflow-x: hidden;
}

.main__top-block__content {
    max-width: 550px;
    flex-shrink: 0;
    margin-bottom: 78px;
}

.main__top-block__content__h1 {
    padding-bottom: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    color: #FFFFFF;
}

.main__top-block__content__text {
    padding-bottom: 64px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #8794BA;
}

.main__top-block__content__text-mobile {
    display: none;
}

.btn {
    display: inline-block;
    max-height: 50px;
    width: 238px;
    text-align: center;
    border-radius: 68px;
    font-size: 16px;
    line-height: 50px;
    color: #fff;
    transition: background 0.3s ease-in, color 0.3s ease-in;
}

.btn:hover {
    background: #f8f9ff;
    color: #0f1f4b;
}

.btn:active {
    position: relative;
    top: 1px;
}

.btn--red {
    background: #ef2a82;
}

.main__top-block__img-block {
    position: relative;
    flex-shrink: 0;
    margin-left: 68px;
}

.main__top-block__img {
    width: 873px;
    height: auto;
}

.features {
    padding-top: 38px;
    padding-bottom: 130px;
}

.title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.175;
    color: #172755;
}

.features__top {
    text-align: center;
}

.features__title {
    margin-bottom: 30px;
}

.features__text {
    margin: 0 auto 81px;
    max-width: 1060px;
}

.features__text>p {
    margin-bottom: 15px;
}

.features__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.features__column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.features__column-text-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.features__column-img {
    margin-bottom: 26px;
}

.features__column-title {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1875;
    color: #172755;
}

.features__column-desc {
    font-size: 16px;
    line-height: 1.375;
    text-align: center;
}

.automated {
    padding-bottom: 114px;
}

.automated-content {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.automated__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.automated__row:nth-child(even) {
    flex-direction: row-reverse;
}

.automated__column-title {
    margin-bottom: 30px;
}

.automated__column-text>p {
    margin-bottom: 15px;
}

.automated__column-img {
    /* width: 600px; */
    box-shadow: 0px 18px 50px -15px rgb(25 42 89 / 20%);
    border-radius: 30px;
}

.price {
    background-image: url("./img/price-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 158px;
}

.price__top {
    padding-top: 272px;
    padding-bottom: 80px;
    text-align: center;
}

.price__top-title>* {
    padding-bottom: 30px;
    color: #fff;
}

.price__top>p {
    max-width: 650px;
    margin: 0 auto 15px;
}

.price__card {
    display: flex;
    justify-content: space-between;
}

.card {
    max-width: 340px;
    background-color: #0f1f4b;
    box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
    border-radius: 30px;
    text-align: center;
}

.card-white {
    background-color: #fff;
    box-shadow: 0px 18px 50px -15px #060f28;
}

.card__content {
    padding: 50px 60px 70px 60px;
}

.card__content a {
    width: 206px;
}

.btn-border {
    border: 1px solid #2A407C;
    border-radius: 68px;
}

.card__top {
    border-bottom: 1px solid #d3d9e9;
}

.card__top--border-color {
    border-bottom: 1px solid #2a407c;
}

.card__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.166;
    color: #fff;
}

.card__text {
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 37px;
}

.card__inner {
    margin-top: 28px;
    margin-bottom: 40px;
}

.card__inner-cost {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.166;
    color: #fff;
}

.card--color {
    color: #172755;
}

.card__inner-cost span {
    font-size: 30px;
}

.card__inner-descr {
    font-size: 16px;
    line-height: 1.375;
}

.companies {
    padding-top: 141px;
    padding-bottom: 120px;
    max-width: 962px;
    margin: 0 auto;
}

.companies__row {
    display: flex;
    justify-content: space-between;
    column-gap: 46px;
}

.companies__column {
    width: 480px;
    height: 480px;
    position: relative;
}

.companies__column--mini-size {
    width: 431px;
    flex-shrink: 0;
}

.companies__title {
    margin-bottom: 75px;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.25;
    color: #160637;
}

.companies__descr {
    margin-bottom: 51px;
    position: relative;
    text-align: center;
}

.companies__descr::before,
.companies__descr::after {
    position: absolute;
    content: "";
    width: 144px;
    height: 2px;
    background: #d6d6d6;
    top: 50%;
    transform: translateX(-50%);
}

.companies__descr::before {
    left: 24px;
}

.companies__descr::after {
    right: -112px;
}

.companies__icons {
    width: 305px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 70px;
    column-gap: 105px;
}

.companies__icons-accenture,
.companies__icons-react,
.companies__icons-airbnb,
.companies__icons-sky {
    fill: #8989a2;

    transition: fill 0.3s ease-in;
}

.companies__icons-accenture:hover {
    fill: #ef2a82;
}

.companies__icons-react:hover {
    fill: #ef2a82;
}

.companies__icons-airbnb:hover {
    fill: #ef2a82;
}

.companies__icons-sky:hover {
    fill: #ef2a82;
}

.companies__column+.companies__column {
    background: #f9f0ff;
    border-radius: 4px;
}

.companies__column-inner {
    position: absolute;
    left: 26px;
    top: -42px;
    padding: 32px 40.5px;
    width: 428px;
    background-color: #fff;
}

.companies__column-title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.333;
    color: #160637;
    text-align: center;
}

.form__authorization {
    margin-bottom: 16px;
}

.form__authorization>*+* {
    margin-top: 16px;
}

.form__auth-btn {
    padding-left: 105px;
    padding-right: 104px;
    line-height: 48px;
    height: 48px;
    border-radius: 4px;
    background: #722ed1;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;

    transition: background 0.3s ease-in;
}

.form__auth-btn:hover {
    background: #ef2a82;
}

.form__auth {
    padding: 16px;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    color: #2a407c;
}

.form__auth::placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    color: #8989a2;
}

.companies__stars {
    text-align: center;
    font-weight: 500;
}

.companies__stars-title {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.187;
    color: #000000;
}

.rating-area {
    width: 265px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row-reverse;
}

.rating-area:not(:checked)>input {
    display: none;
}

.rating-area:not(:checked)>label {
    margin-right: 15px;
    width: 15px;
    padding: 0;
    cursor: pointer;
    font-size: 20px;
    line-height: 32px;
    color: lightgrey;
}

.rating-area:not(:checked)>label:before {
    content: "★";
}

.rating-area>input:checked~label {
    color: gold;
}

.rating-area:not(:checked)>label:hover,
.rating-area:not(:checked)>label:hover~label {
    color: gold;
}

.rating-area>input:checked+label:hover,
.rating-area>input:checked+label:hover~label,
.rating-area>input:checked~label:hover,
.rating-area>input:checked~label:hover~label,
.rating-area>label:hover~input:checked~label {
    color: gold;
}

.rate-area>label:active {
    position: relative;
}

.companies__stars-text {
    padding-top: 16px;
    font-size: 14px;
    line-height: 1.142;
    border-top: 1px solid rgba(137, 137, 162, 0.48);
}

.companies__stars-text a {
    color: #722ed1;
}

.footer {
    background: #1f2f5c;
}

.footer__row {
    padding: 64px 0px 60px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__menu {
    display: flex;
    gap: 36px;
}

.footer__menu-link {
    font-size: 14px;
    line-height: 1.142;
    color: #8794ba;

    transition: color 0.3s ease-in;
}

.footer__menu-link:hover {
    color: #ef2a82;
}

.footer__social-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.footer__social-link {
    fill: #8794ba;
    background-color: transparent;
    transition: fill 0.3s ease-in, background-color 0.3s ease-in;
}

.footer__social-link:hover {
    fill: #ef2a82;
}

@media (max-width: 376px) {

    .center {
        padding-left: calc(50% - 168px);
        padding-right: calc(50% - 168px);
    }

    .header {
        background: #172755;
        box-shadow: 0px 4px 4px #12214D;
    }

    .header-navigation {
        display: none;
    }

    .sign__up-btn {
        display: none;
    }

    .gamburger-menu {
        display: block;
    }

    .header-content {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .sign {
        gap: 18px;
    }

    .main-background-img {
        background-image: none;
        padding-bottom: 0px;
    }

    .main__top-block {
        background-image: url('./img/background-top-mobile.png');
        background-repeat: no-repeat;
        background-position: bottom;
        padding-top: 29px;
        padding-bottom: 128px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 0px;
        position: relative;
    }

    .main__top-block__img-block {
        display: none;
    }

    .main__top-block__img {
        display: none;
    }

    .main__top-block__img-block-mobile {
        display: inline-block;
    }

    .main__top-block__img-mobile {
        display: block;
    }

    .main__top-block__content {
        padding-top: 26px;
        padding-left: 0;
        padding-right: 0;
        /* max-width: 760px; */
        /* left: calc((100vw - 1180px)/2); */
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .main__top-block__content__h1 {
        font-size: 31px;
    }

    .main__top-block__content__text {
        display: none;
    }

    .main__top-block__content__text-mobile {
        display: block;
        padding-bottom: 26px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #8794BA;
    }

    .btn {
        max-width: 335px;
    }

    .features {
        padding-top: 50px;
        padding-bottom: 71px;
    }

    .features__title {
        margin-bottom: 20px;
    }

    .features__top {
        text-align: left;
    }

    .features__text {
        margin-bottom: 40px;
        font-size: 14px;
        line-height: 140%;
    }

    .features__text>p {
        margin-bottom: 40px;
    }

    .features__column-title {
        margin-bottom: 9px;
        line-height: 19px;

    }

    .features__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 35px;
        flex-direction: column;
    }

    .features__column {

        flex-direction: row;
        align-items: flex-start;
        gap: 28px;
    }

    .features__column-text-content {
        align-items: flex-start;
    }

    .features__column-desc {
        font-size: 14px;
        line-height: 140%;
        text-align: left;
    }

    .automated__row {
        gap: 30px;
        flex-direction: column;
    }

    .automated__row:nth-child(even) {
        flex-direction: column;
    }

    .automated-content {
        gap: 60px;
    }

    .title {
        padding-bottom: 20px;
        font-size: 30px;
        line-height: 35px;
    }

    .text {
        font-size: 14px;
        line-height: 140%;
    }

    .automated__column-text>p {
        margin-bottom: 0px;
    }

    .automated__column-title {
        margin-bottom: 0px;
    }

    .automated {
        padding-bottom: 0px;
    }

    .companies__column--mini-size {
        display: none;
    }

    .price__card {
        display: flex;
        justify-content: center;
        gap: 20px;

    }

    .price {
        background-image: url(./img/background-bottom-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        overflow: hidden;
        padding-bottom: 200px;
    }

    .price__top {
        padding-top: 205px;
        padding-bottom: 42px;
        text-align: left;
    }

    .card {
        width: 280px;
        background: #FFFFFF;
        box-shadow: 0px 18px 50px -15px #060F28;
        border-radius: 30px;
        text-align: center;
    }

    .card__content {
        padding: 35px 37px 47px 37px;
    }

    .card__content a {
        width: 206px;
    }

    .card__title {
        margin-bottom: 7px;
        font-size: 25px;
        line-height: 29px;
    }

    .card__text {
        font-size: 13px;
        line-height: 140%;
        padding-bottom: 30px;
    }

    .card__inner {
        margin-top: 20px;
        margin-bottom: 36px;
    }

    .card__inner-descr {
        font-size: 13px;
        line-height: 140%;
    }

    .companies {
        padding-top: 66px;
        max-width: 962px;

    }

    .footer__menu {
        display: none;
    }

    .companies__column-inner {
        position: absolute;
        left: 0px;
        top: 0px;
        padding: 0px 20px;
        width: 375px;

    }

    .footer__row {
        padding: 36px 0px 36px 0px;
        justify-content: space-between;
    }
}